{
  "openapi": "3.1.0",
  "info": {
    "title": "CRYPTO",
    "termsOfService": "urn:tos",
    "license": {
      "name": "Apache 2.0",
      "url": "https://springdoc.org"
    },
    "version": "2026-02-03",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api-sb.meld.io",
      "description": "Meld API sandbox"
    },
    {
      "url": "https://api.meld.io",
      "description": "Meld API production"
    }
  ],
  "paths": {
    "/payments/crypto/quote": {
      "post": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Create a crypto quote",
        "description": "Use this endpoint to request the current exchange rate of the selected fiat currency-cryptocurrency pair, and the required fees. Enter a fiat currency as the sourceCurrencyCode to buy crypto and enter a crypto currency in that field to sell crypto.",
        "operationId": "/crypto-quote-get",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-02-03"
            }
          },
          {
            "name": "includeSwap",
            "in": "query",
            "description": "If true, include both direct ramp/offramp quotes and stitched ramp+swap/offramp+swap quotes (CRYPTO_PURCHASE_SWAP / CRYPTO_SELL_SWAP) in the response. When false, swap is only used as a fallback when no direct ramp or offramp providers return quotes. Swap quotes are gated by the per-account onrampSwapEnabled / offrampSwapEnabled preferences regardless of this flag.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoQuoteRequest"
              },
              "example": {
                "countryCode": "US",
                "destinationCurrencyCode": "BTC",
                "sourceAmount": 100,
                "sourceCurrencyCode": "USD"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoQuoteResponse20260203"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/crypto/retail-ramp/crypto-quote-get"
        }
      }
    },
    "/crypto/session/widget": {
      "post": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Create a crypto widget",
        "description": "Use this endpoint to create a crypto widget for a session to buy or sell crypto.",
        "operationId": "/crypto-session-widget-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionTokenForWidgetRequestV20231219"
              },
              "example": {
                "sessionType": "BUY",
                "sessionData": {
                  "serviceProvider": "TOPPER",
                  "countryCode": "US",
                  "sourceCurrencyCode": "USD",
                  "sourceAmount": "100",
                  "destinationCurrencyCode": "BTC",
                  "walletAddress": "bc1qr74wmrcwqq9w5yxczxj6udts9mnqsh3xlhk5yp"
                },
                "externalSessionId": "example-session-id",
                "externalCustomerId": "example-customer-id"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Widget created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionTokenResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-02-03"
            }
          }
        ],
        "x-mint": {
          "href": "/api-reference/crypto/retail-ramp/crypto-session-widget-create"
        }
      }
    },
    "/payments/transactions/{id}": {
      "get": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Get transaction by id",
        "description": "Search transaction by its Meld identifier",
        "operationId": "/payments-transactions-get",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-02-03"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the transaction to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTransactionResponse20250304"
                }
              }
            }
          },
          "404": {
            "description": "Payment transaction with the id informed was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/crypto/retail-ramp/payments-transactions-get"
        }
      }
    },
    "/payments/transactions": {
      "get": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Search transactions",
        "description": "Search a list of transactions you've previously created. The transactions are ordered by the date of creation.",
        "operationId": "/payments-transactions-search",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-02-03"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Comma separated list of transaction status.\n\nIf present, only transactions with the specified status will be included.\n\n*Possible values*:\n\nPENDING_CREATED\n\nPENDING\n\nPROCESSING\n\nAUTHORIZED\n\nAUTHORIZATION_EXPIRED\n\nSETTLING\n\nONRAMP_SETTLED\n\nSETTLED\n\nREFUNDED\n\nDECLINED\n\nCANCELLED\n\nFAILED\n\nERROR\n\nVOIDED\n\nTWO_FA_REQUIRED\n\nTWO_FA_PROVIDED",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "Comma separated list of service providers.\n\nReturn only transactions with these specific providers. You can specify multiple service providers in the query string and separate them with commas\n\nReference [Crypto supported service providers](https://docs.meld.io/docs/crypto-supported-service-providers-assets) and [Fiat supported service providers](https://docs.meld.io/docs/fiat-supported-service-providers) for a full list of supported service providers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of returned accounts.\n\n*Default value*: 10 or the number of ids provided\n\n*Minimum value*: 1\n\n*Maximum value*: 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "amountFrom",
            "in": "query",
            "description": "Return only transactions with the amount equal to or greater than this amount",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "amountTo",
            "in": "query",
            "description": "Return only transactions with the amount equal to or less than this amount",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Return only transactions created after this DateTime. The correct string will use the ISO DateTime or ISO Date Format.\n\nEx:2021-08-31T01:30:00 or 2022-02-25 are accepted",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Return only transactions created before this DateTime. The correct string will use the ISO DateTime or ISO Date Format.\n\nEx:2021-08-31T01:30:00 or 2022-02-25 are accepted",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "The unique key corresponding to a payment transaction's position in the paginated list of results -- used to indicate that only payment transactions residing before this key will be retrieved.\n\nEach payment transaction carries a unique key. Reference [Pagination](https://docs.meld.io/docs/pagination)The before and after fields cannot be used in the same request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The unique key corresponding to a payment transaction's position in the paginated list of results -- used to indicate that only payment transactions residing after this key will be retrieved.\n\nEach payment transaction carries a unique key. Reference [Pagination](https://docs.meld.io/docs/pagination)The before and after fields cannot be used in the same request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiAccessProfileIds",
            "in": "query",
            "description": "Comma separated list of API access profile ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerIds",
            "in": "query",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity. This takes a comma separated list of customer ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalCustomerIds",
            "in": "query",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity. This takes a comma separated list of external customer ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionIds",
            "in": "query",
            "description": "Comma separated list of session ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalSessionIds",
            "in": "query",
            "description": "Comma separated list of external session ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalReferenceIds",
            "in": "query",
            "description": "Comma separated list of reference ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma separated list of transaction types",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderIds",
            "in": "query",
            "description": "Comma separated list of order ids (for virtual account ramp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceProviderTransactionId",
            "in": "query",
            "description": "service provider transaction id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subaccountCustomerIds",
            "in": "query",
            "description": "Comma-separated list of sub-account customer ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalSubaccountCustomerIds",
            "in": "query",
            "description": "Comma-separated list of external sub-account customer ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment transaction found",
            "content": {}
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/crypto/retail-ramp/payments-transactions-search"
        }
      }
    },
    "/payments/transactions/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Fetch a transaction from the provider (for offramp use)",
        "description": "Fetch a transaction from the service provider using the session ID. This endpoint is primarily used for offramp scenarios where the transaction needs to be retrieved from the provider after the user completes their action in the widget.",
        "operationId": "/payments-transactions-sessions-get",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-02-03"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session ID to fetch the transaction for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction found and retrieved from provider",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTransactionResponse20250304"
                }
              }
            }
          },
          "404": {
            "description": "Session not found or transaction not yet created with provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/crypto/retail-ramp/payments-transactions-sessions-get"
        }
      }
    },
    "/crypto/order/headless/offramp": {
      "post": {
        "tags": [
          "Headless"
        ],
        "summary": "Create a headless offramp order",
        "description": "Creates a headless offramp order. Caller passes customer + provider + source crypto + fiat payout method and receives a provider-issued wallet address to send cryptocurrency to.",
        "operationId": "/crypto-order-headless-offramp-create",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-02-03"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HeadlessOrderOfframpRequest"
              },
              "examples": {
                "achOfframp": {
                  "description": "achOfframp",
                  "value": {
                    "customerId": "WQ4Cp7mWmkQpjQjxxxxxx",
                    "destinationCurrencyCode": "USD",
                    "fiatPayoutMethod": {
                      "type": "ACH",
                      "details": {
                        "bankName": "Example Bank",
                        "bankAccountType": "CHECKING",
                        "routingNumber": "110000000",
                        "accountNumber": "000123456789",
                        "beneficiaryAddress": {
                          "streetLineOne": "123 Main St",
                          "city": "New York",
                          "state": "NY",
                          "postalCode": "10001",
                          "country": "US"
                        }
                      }
                    },
                    "serviceProvider": "NOAH",
                    "sourceAmount": 100,
                    "sourceCurrencyCode": "USDC",
                    "sourceWalletAddress": "0x000000000000000000000000000000000000dEaD",
                    "countryCode": "US"
                  }
                }
              },
              "example": {
                "customerId": "WQ4Cp7mWmkQpjQjxxxxxx",
                "destinationCurrencyCode": "USD",
                "fiatPayoutMethod": {
                  "type": "ACH",
                  "details": {
                    "bankName": "Example Bank",
                    "bankAccountType": "CHECKING",
                    "routingNumber": "110000000",
                    "accountNumber": "000123456789",
                    "beneficiaryAddress": {
                      "streetLineOne": "123 Main St",
                      "city": "New York",
                      "state": "NY",
                      "postalCode": "10001",
                      "country": "US"
                    }
                  }
                },
                "serviceProvider": "NOAH",
                "sourceAmount": 100,
                "sourceCurrencyCode": "USDC",
                "sourceWalletAddress": "0x000000000000000000000000000000000000dEaD",
                "countryCode": "US"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Headless offramp order created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessOrderOfframpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/crypto/headless/crypto-order-headless-offramp-create"
        }
      }
    },
    "/payments/virtual-account/deposit-instructions": {
      "post": {
        "tags": [
          "Headless"
        ],
        "summary": "Create or retrieve standing virtual-account onramp deposit instructions",
        "description": "Provisions a standing virtual bank account for recurring onramp deposits, or returns the existing instructions when the same customer, provider, payment method, currency pair, and destination wallet were already set up.",
        "operationId": "/payments-virtual-account-deposit-instructions-create",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-02-03"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualAccountDepositInstructionsRequest"
              },
              "example": {
                "countryCode": "US",
                "customerId": "<string>",
                "destinationCurrencyCode": "USDC",
                "destinationWalletAddress": "0x000000000000000000000000000000000000dEaD",
                "paymentMethodType": "ACH",
                "serviceProvider": "NOAH",
                "sourceCurrencyCode": "USD"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Deposit instructions created or returned successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountDepositInstructionsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Coordinates are still being provisioned upstream (async, not a failure); retry after the Retry-After interval. Body is empty.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountDepositInstructionsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/crypto/headless/payments-virtual-account-deposit-instructions-create"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateWidgetPreferenceRequest": {
        "type": "object",
        "properties": {
          "preferences": {
            "type": "object",
            "additionalProperties": {},
            "description": "preferences",
            "minProperties": 1
          }
        },
        "required": [
          "preferences"
        ]
      },
      "WidgetPreferenceResponse": {
        "type": "object",
        "properties": {
          "preferences": {
            "type": "object",
            "additionalProperties": {},
            "description": "Widget preferences"
          }
        }
      },
      "CryptoCreateCustomerRequest": {},
      "CryptoCreateCustomerResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "kycStatus": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/KycStatus"
            }
          }
        }
      },
      "CustomerAddressDetails": {},
      "CustomerInput": {},
      "CustomerName": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "Your customer's first name"
          },
          "lastName": {
            "type": "string",
            "description": "Your customer's last name"
          }
        }
      },
      "KycStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "INFORMATION_NEEDED",
              "SUBMITTED",
              "APPROVED",
              "DENIED"
            ]
          },
          "verificationUrl": {
            "type": "string"
          }
        }
      },
      "VirtualAccountDepositInstructionsRequest": {
        "type": "object",
        "description": "Request to provision or retrieve standing virtual-account deposit instructions",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Customer's residency country (ISO 3166-1 alpha-2). Used to check that this provider offers the payment method to residents of that country. Not where the user is sitting, and not the country of the provider's receiving account.",
            "example": "US",
            "minLength": 1
          },
          "customerId": {
            "type": "string",
            "description": "Meld customer id",
            "minLength": 1
          },
          "customerPhoneNumber": {
            "type": "string",
            "description": "Customer phone number \u2014 required when paymentMethodType is MOBILE_MONEY and the provider requires it"
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Destination cryptocurrency code",
            "example": "USDC",
            "minLength": 1
          },
          "destinationWalletAddress": {
            "type": "string",
            "description": "Wallet address that will receive the purchased cryptocurrency",
            "example": "0x000000000000000000000000000000000000dEaD",
            "minLength": 1
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Canonical Network Partner payment-method code of the virtual-account rail to create. Not a closed set \u2014 eligibility for the requested provider is resolved against the Network Partner catalog.",
            "example": "ACH",
            "minLength": 1
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service provider used for creating the virtual deposit account",
            "enum": [
              "NOAH",
              "DUENETWORK"
            ],
            "example": "NOAH"
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Source fiat currency code",
            "example": "USD",
            "minLength": 1
          }
        },
        "required": [
          "countryCode",
          "customerId",
          "destinationCurrencyCode",
          "destinationWalletAddress",
          "paymentMethodType",
          "serviceProvider",
          "sourceCurrencyCode"
        ]
      },
      "ErrorResponse": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "requestId": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "VirtualAccountDepositInstructionsResponse": {
        "type": "object",
        "description": "Standing virtual-account deposit instructions",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Meld customer id",
            "minLength": 1
          },
          "depositInstructionsId": {
            "type": "string",
            "description": "Unique id for this deposit instruction row",
            "minLength": 1
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Destination cryptocurrency code",
            "minLength": 1
          },
          "destinationWalletAddress": {
            "type": "string",
            "description": "Destination wallet address for the purchased crypto",
            "example": "0x000000000000000000000000000000000000dEaD",
            "minLength": 1
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Canonical Network Partner payment-method code of the virtual account created"
          },
          "receivingBankInformation": {
            "type": "object",
            "additionalProperties": {},
            "description": "Receiving-bank fields. There is no predefined shape. Call `GET /supported/payment-methods/requirements` without a serviceProvider to get requirements for every provider. Optionally filter by serviceProvider. Nested fields are nested objects (Network Partner `parentKey`). Omitted while instructions are pending (empty `serviceProviderDetails`). Also omitted when Network Partner is unavailable, has no matching rows, or the provider is not LIVE; that is not pending \u2014 `serviceProviderDetails` still holds the stored provider coordinates.",
            "example": {
              "accountNumber": "1234567890",
              "routingNumber": "021000021"
            }
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service provider",
            "enum": [
              "NOAH",
              "DUENETWORK"
            ],
            "example": "NOAH"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "Raw provider receiving-bank details under the provider's own field names. Empty while instructions are pending. Populated with no `receivingBankInformation` means the instruction is already provisioned but the Meld-shaped view could not be derived."
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Source fiat currency code",
            "minLength": 1
          }
        },
        "required": [
          "customerId",
          "depositInstructionsId",
          "destinationCurrencyCode",
          "destinationWalletAddress",
          "paymentMethodType",
          "serviceProvider",
          "sourceCurrencyCode"
        ]
      },
      "AchDetails": {
        "type": "object",
        "description": "ACH details",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "Account number",
            "minLength": 1
          },
          "accountType": {
            "type": "string",
            "description": "Bank account type",
            "enum": [
              "BUSINESS_CHECKING",
              "CHECKING",
              "SAVINGS"
            ]
          },
          "name": {
            "description": "Account name",
            "allOf": [
              {
                "$ref": "#/components/schemas/Name"
              }
            ]
          },
          "routingNumber": {
            "type": "string",
            "description": "Routing number",
            "minLength": 1
          }
        },
        "required": [
          "accountNumber",
          "accountType",
          "routingNumber"
        ]
      },
      "CardDetails": {
        "type": "object",
        "description": "Credit card details",
        "properties": {
          "cvc": {
            "type": "string",
            "description": "Card CVC",
            "example": "123",
            "minLength": 1
          },
          "expiration": {
            "description": "Expiration date",
            "example": "01/25",
            "allOf": [
              {
                "$ref": "#/components/schemas/CardExpiration"
              }
            ]
          },
          "name": {
            "type": "string",
            "description": "The cardholder's name"
          },
          "number": {
            "type": "string",
            "description": "Card number",
            "example": "4111111111111111",
            "minLength": 1
          }
        },
        "required": [
          "cvc",
          "number"
        ]
      },
      "CardExpiration": {
        "type": "object",
        "properties": {
          "month": {
            "type": "integer",
            "format": "int32",
            "description": "Integer value for the expiration month"
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "description": "Integer value for the expiration year"
          }
        }
      },
      "MeldPaymentTokenDetails": {
        "type": "object",
        "description": "Meld payment token details",
        "properties": {
          "meldPaymentToken": {
            "type": "string",
            "description": "Meld Payment Token",
            "minLength": 1
          }
        },
        "required": [
          "meldPaymentToken"
        ]
      },
      "Name": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "firstName",
          "lastName"
        ]
      },
      "PaymentMethodDetails": {
        "description": "[Details of the payment method used for this transaction](https://docs.meld.io/docs/payment-methods-and-tokenization)",
        "discriminator": {
          "propertyName": "type"
        },
        "oneOf": [
          {
            "title": "CardDetails",
            "allOf": [
              {
                "$ref": "#/components/schemas/CardDetails"
              }
            ]
          },
          {
            "title": "AchDetails",
            "allOf": [
              {
                "$ref": "#/components/schemas/AchDetails"
              }
            ]
          },
          {
            "title": "MeldPaymentTokenDetails",
            "allOf": [
              {
                "$ref": "#/components/schemas/MeldPaymentTokenDetails"
              }
            ]
          }
        ]
      },
      "PaymentMethodInput": {
        "type": "object",
        "description": "PaymentMethod objects represent your customer's payment instruments",
        "properties": {
          "details": {
            "$ref": "#/components/schemas/PaymentMethodDetails"
          },
          "type": {
            "type": "string",
            "description": "Payment method type used for this transaction, some methods may only apply for some providers, e.g. PLAID_TRANSFER_AUTHORIZATION for PLAID",
            "enum": [
              "ACH",
              "CARD",
              "MELD_PAYMENT_TOKEN",
              "PLAID_TRANSFER_AUTHORIZATION"
            ],
            "minLength": 1
          }
        },
        "required": [
          "details",
          "type"
        ]
      },
      "PaymentTransactionRequest": {
        "type": "object",
        "properties": {
          "3ds": {
            "description": "3ds settings",
            "allOf": [
              {
                "$ref": "#/components/schemas/ThreeDeeEssInput"
              }
            ]
          },
          "capture": {
            "type": "boolean",
            "description": "Should the payment be captured immediately, if set to false an authorization will be performed instead"
          },
          "customer": {
            "description": "Information about your customer",
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerInput"
              }
            ]
          },
          "customerId": {
            "type": "string",
            "description": "Meld's internal Id for the Customer"
          },
          "description": {
            "type": "string",
            "description": "A description about the transaction"
          },
          "externalCustomerId": {
            "type": "string",
            "description": "Your (optional) Id for this customer, for example an id or reference from your database which you may supply during customer creation"
          },
          "nonce": {
            "type": "string",
            "description": "A payment method nonce is a secure, one-time-use reference to payment information. It's the key element that allows your server to communicate sensitive payment information to the service provider without ever touching the raw data."
          },
          "paymentMethod": {
            "description": "PaymentMethod objects represent your customer's payment instruments.",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodInput"
              }
            ]
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for this transaction.",
            "enum": [
              "ALCHEMYPAY",
              "BANXA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BTCDIRECT",
              "COINBASEPAY",
              "FONBNK",
              "GUARDARIAN",
              "KRYPTONIM",
              "KOYWE",
              "MERCURYO",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "REVOLUT",
              "ROBINHOOD",
              "STRIPE",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "UNLIMIT",
              "YELLOWCARD"
            ]
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "Provider specific details which may be provided for this transaction, if supported by the Service Provider."
          },
          "sourceAmount": {
            "type": "string",
            "description": "Amount intended to be collected by this payment",
            "example": "10.50",
            "minLength": 1
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code, in lowercase. Must be a supported currency",
            "example": "USD",
            "minLength": 1
          }
        },
        "required": [
          "serviceProvider",
          "sourceAmount",
          "sourceCurrencyCode"
        ]
      },
      "ThreeDeeEssInput": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "CryptoDetails": {
        "type": "object",
        "properties": {
          "blockchainTransactionId": {
            "type": "string",
            "description": "The transaction id on the blockchain"
          },
          "chainId": {
            "type": "string",
            "description": "A unique identifier that represents a blockchain network. The chainId of a particular network is standard everywhere."
          },
          "institution": {
            "type": "string",
            "description": "The institution used to execute the transaction. Only applicable for transfers currently."
          },
          "networkFee": {
            "type": "number",
            "description": "This fee is paid to cryptocurrency miners, which are the systems that process the transactions"
          },
          "networkFeeInUsd": {
            "type": "number",
            "description": "This network fee in USD"
          },
          "offrampDestinationWalletAddress": {
            "type": "string",
            "description": "The offramp destination wallet address"
          },
          "partnerFee": {
            "type": "number",
            "description": "The partner fee amount"
          },
          "partnerFeeInUsd": {
            "type": "number",
            "description": "The partner fee in USD"
          },
          "swapFee": {
            "type": "number",
            "description": "The swap fee amount charged by the swap provider for ramp+swap transactions"
          },
          "swapFeeInUsd": {
            "type": "number",
            "description": "The swap fee in USD"
          },
          "totalFee": {
            "type": "number",
            "description": "The total amount of fees that will be charged"
          },
          "totalFeeInUsd": {
            "type": "number",
            "description": "The total fee in USD"
          },
          "transactionFee": {
            "type": "number",
            "description": "The fee amount charged by the service provider to process your customer's purchase"
          },
          "transactionFeeInUsd": {
            "type": "number",
            "description": "The transaction fee in USD"
          },
          "walletAddress": {
            "type": "string",
            "description": "Your customer's crypto wallet"
          }
        }
      },
      "CustomerAddressOutput": {
        "type": "object",
        "properties": {
          "addressDetails": {
            "description": "Address details",
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerAddressDetails"
              }
            ]
          },
          "type": {
            "type": "string",
            "description": "Address type such as BILLING, SHIPPING, RESIDENCE, etc.",
            "enum": [
              "BILLING",
              "SHIPPING",
              "RESIDENCE"
            ]
          }
        }
      },
      "CustomerOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Your Account Id"
          },
          "addresses": {
            "type": "array",
            "description": "Your Customer's addresses, such as billing, shipping, etc.",
            "items": {
              "$ref": "#/components/schemas/CustomerAddressOutput"
            }
          },
          "email": {
            "type": "string",
            "description": "Your Customer's email address"
          },
          "externalId": {
            "type": "string",
            "description": "Your optionally supplied Id for your Customer, e.g. a Customer Id in your system"
          },
          "id": {
            "type": "string",
            "description": "Meld's internal Id for the Customer"
          },
          "name": {
            "description": "Your Customer's name",
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerName"
              }
            ]
          },
          "phone": {
            "type": "string",
            "description": "Your Customer's phone number"
          },
          "serviceProviders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A map of Service Providers and service provider IDs for this Customer"
          },
          "status": {
            "type": "string",
            "description": "ACTIVE or INACTIVE, may not be set"
          }
        }
      },
      "MultiFactorAuthorizationStatusOutput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "description": "How the card details were authorized",
            "enum": [
              "SMS",
              "CARD",
              "EMAIL",
              "THREE_DS"
            ]
          },
          "submitted": {
            "type": "boolean",
            "description": "Return ***True*** if the information was submitted"
          },
          "successful": {
            "type": "boolean",
            "description": "Return ***True*** if the submitted information is a match"
          },
          "url": {
            "type": "string",
            "description": "URL used to perform authorization (if applicable)"
          }
        }
      },
      "PaymentDetails": {
        "type": "object",
        "properties": {
          "authAmount": {
            "type": "number",
            "description": "The amount authorized to be charged (must be greater than the amount intended to be collected.) Note that the number of digits with a decimal point varies with the currency. Reference the list of active codes of official ISO 4217 currency names."
          },
          "captureAmount": {
            "type": "number",
            "description": "The amount captured (can be less than the amount intended to be collected.) Note that the number of digits with a decimal point varies with the currency. Reference the list of active codes of official ISO 4217 currency names."
          }
        }
      },
      "PaymentTransactionOutput20230401": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Your account Id"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166 2-digit country code."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "An ISO 8601 DateTime at which the object was created."
          },
          "cryptoDetails": {
            "description": "Details of the crypto currency purchase, sale, or transfer",
            "allOf": [
              {
                "$ref": "#/components/schemas/CryptoDetails"
              }
            ]
          },
          "customer": {
            "description": "Your customer's details"
          },
          "description": {
            "type": "string",
            "description": "An arbitrary string which you can attach to this transaction. It is displayed when in the web interface alongside the charge."
          },
          "destinationAmount": {
            "type": "number",
            "description": "The destination amount of the transaction, e.g. the amount of crypto currency purchased"
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code. Must be a supported currency"
          },
          "externalCustomerId": {
            "type": "string",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity."
          },
          "externalReferenceId": {
            "type": "string",
            "description": "Your optional reference id provided during transaction creation"
          },
          "externalSessionId": {
            "type": "string",
            "description": "The external Id of the session."
          },
          "externalSubaccountCustomerId": {
            "type": "string",
            "description": "Optional external identifier for the sub-account customer this transaction belongs to. Used for tracking when multiple businesses operate under one Meld account. A sub-account customer must be created first before it can be referenced."
          },
          "fiatAmountInUsd": {
            "type": "number",
            "description": "The fiat amount of the transaction in usd"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for this transaction"
          },
          "isImported": {
            "type": "boolean",
            "description": "Return ***True*** if this transaction was initiated outside Meld"
          },
          "isPassthrough": {
            "type": "boolean",
            "description": "Return ***True*** if the passthrough credentials were used"
          },
          "key": {
            "type": "string",
            "description": "Pagination key, may be used with the \"after\" parameter in search requests.  Only set and relevant for paginated calls"
          },
          "multiFactorAuthorizationStatus": {
            "type": "array",
            "description": "The transaction required multi-factor authentication methods, and their current status. When required, must be approved for the purchase tobe completed successfully.",
            "items": {
              "$ref": "#/components/schemas/MultiFactorAuthorizationStatusOutput"
            },
            "uniqueItems": true
          },
          "orderId": {
            "type": "string",
            "description": "Unique identifier for the order associated with this transaction, when applicable"
          },
          "parentPaymentTransactionId": {
            "type": "string",
            "description": "The Id of the associated object for this line item"
          },
          "passthroughReference": {
            "type": "string",
            "description": "The unique reference you use to identify the partner on whose behalf you created this transaction.  This might be a String or UUID in your system to identify a merchant or partner.  This is needed so that you can associate passthrough transactions to your partners who may not be registered with Meld"
          },
          "paymentDetails": {
            "description": "payment details",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentDetails"
              }
            ]
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Payment Method type used for this transaction."
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for this transaction"
          },
          "serviceProviderCreatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO 8601 DateTime when the transaction was created on the service provider's side"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "The service provider's details"
          },
          "serviceProviderTransactionUrl": {
            "type": "string",
            "description": "A link to the resource on the Service Provider, may not be present"
          },
          "serviceTransactionId": {
            "type": "string",
            "description": "The service provider's unique identifier for this transaction"
          },
          "sessionClientTags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A map of client tags"
          },
          "sessionId": {
            "type": "string",
            "description": "The Id of the session."
          },
          "sourceAmount": {
            "type": "number",
            "description": "The amount of the transaction"
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code. Must be a supported currency"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction"
          },
          "subaccountCustomerId": {
            "type": "string",
            "description": "Optional Meld customer id used to track the business sub-account this transaction belongs to when multiple businesses operate under one Meld account."
          },
          "transactionType": {
            "type": "string",
            "description": "The transaction's type"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the object was last updated. Measured in seconds since the Unix epoch."
          }
        },
        "required": [
          "createdAt",
          "id",
          "serviceProvider",
          "sessionId",
          "status",
          "transactionType",
          "updatedAt"
        ]
      },
      "PaymentTransactionResponse20230401": {
        "type": "object",
        "properties": {
          "transaction": {
            "description": "Payment transaction information",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentTransactionOutput20230401"
              }
            ]
          }
        }
      },
      "PaymentRefundRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "An arbitrary string attached to the object. Often useful for displaying to users."
          },
          "reason": {
            "type": "string",
            "description": "Reason for the refund"
          },
          "sourceAmount": {
            "type": "number",
            "description": "Amount to be refunded. Can be a partial refund. If not provided, a refund for the total value will be submitted",
            "minimum": 0.0
          }
        },
        "required": [
          "sourceAmount"
        ]
      },
      "PaymentCaptureRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "sourceAmount": {
            "type": "number",
            "description": "If not provided then the entire Authorization amount will be captured.",
            "minimum": 0.0
          }
        }
      },
      "PayoutTransactionRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Meld's internal Id for the Customer"
          },
          "description": {
            "type": "string",
            "description": "A description about the transaction"
          },
          "externalCustomerId": {
            "type": "string",
            "description": "Your (optional) Id for this customer, for example an id or reference from your database which you may supply during customer creation"
          },
          "paymentMethod": {
            "description": "PaymentMethod objects represent your customer's receiving payment instrument",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodInput"
              }
            ]
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for this transaction.",
            "enum": [
              "ACROSS",
              "ALCHEMYPAY",
              "APPLEPAY",
              "BANXA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BRALE",
              "BTCDIRECT",
              "COINBASEPAY",
              "DLOCAL",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FLASHNET",
              "FONBNK",
              "GUARDARIAN",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MX",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMPNOW",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "TZERO",
              "UNLIMIT",
              "UPHOLD",
              "YELLOWCARD"
            ]
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "Provider specific details which may can be provided for this transaction, if supported by the Service Provider."
          },
          "sourceAmount": {
            "type": "string",
            "description": "Amount intended to be sent by this payout",
            "example": "10.50",
            "minLength": 1
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code, in lowercase. Must be a supported currency",
            "example": "USD",
            "minLength": 1
          }
        },
        "required": [
          "sourceAmount",
          "sourceCurrencyCode"
        ]
      },
      "PaymentTokenRequest": {
        "type": "object",
        "properties": {
          "customer": {
            "description": "Information about your customer",
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerInput"
              }
            ]
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodInput"
          },
          "serviceProviders": {
            "type": "array",
            "description": "The service provider(s) to attempt to create tokens with. If successful, the returned Meld payment token will be compatible with each of these providers.",
            "items": {
              "type": "string",
              "enum": [
                "STRIPE"
              ]
            }
          }
        }
      },
      "PaymentTokenResponse": {
        "type": "object",
        "properties": {
          "meldPaymentMethodTokenId": {
            "type": "string",
            "description": "The id of the meld payment method token"
          },
          "serviceProviders": {
            "type": "array",
            "description": "List of service providers that successfully tokenized the provided payment method. This Meld payment token can be used to create future transactions with these service providers.",
            "items": {
              "type": "string",
              "enum": [
                "ACROSS",
                "ALCHEMYPAY",
                "APPLEPAY",
                "BANXA",
                "BINANCECONNECT",
                "BINANCEPAY",
                "BLOCKCHAINDOTCOM",
                "BRALE",
                "BTCDIRECT",
                "COINBASEPAY",
                "DLOCAL",
                "DUENETWORK",
                "ELDORADO",
                "FINICITY",
                "FLASHNET",
                "FONBNK",
                "GUARDARIAN",
                "KOYWE",
                "KRYPTONIM",
                "MERCURYO",
                "MX",
                "NOAH",
                "ONMETA",
                "ONRAMPMONEY",
                "PAYBIS",
                "PAYPAL",
                "PLAID",
                "RAMPNOW",
                "REVOLUT",
                "ROBINHOOD",
                "ROUTERPROTOCOL",
                "SALTEDGE",
                "SALTEDGEPARTNERS",
                "STRIPE",
                "SUMSUB",
                "SWAPPED",
                "TOPPER",
                "TRANSAK",
                "TZERO",
                "UNLIMIT",
                "UPHOLD",
                "YELLOWCARD"
              ]
            }
          }
        }
      },
      "ServiceProviderCustomerCreateRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Meld's id for the customer"
          },
          "paymentMethod": {
            "description": "Customer's payment instrument",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodInput"
              }
            ]
          }
        },
        "required": [
          "customerId",
          "paymentMethod"
        ]
      },
      "ServiceProviderCustomersCreateBatchRequest": {
        "type": "object",
        "properties": {
          "customers": {
            "type": "array",
            "description": "Customers to create",
            "items": {
              "$ref": "#/components/schemas/ServiceProviderCustomerCreateRequest"
            },
            "minItems": 1
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service provider to create the customers with"
          }
        },
        "required": [
          "customers",
          "serviceProvider"
        ]
      },
      "ServiceProviderCustomersCreateBatchResponse": {
        "type": "object",
        "properties": {
          "batchId": {
            "type": "string"
          }
        }
      },
      "PaymentDetailsRequest": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodInput"
          }
        }
      },
      "PlaidMigrateAccountResponse": {
        "type": "object",
        "description": "The id and token for a Plaid account used in a transfer",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "The Plaid access token for the newly created item.",
            "minLength": 1
          },
          "accountId": {
            "type": "string",
            "description": "The Plaid account id for the newly created item.",
            "minLength": 1
          },
          "requestId": {
            "type": "string",
            "description": "Plaid's unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive.",
            "minLength": 1
          }
        },
        "required": [
          "accessToken",
          "accountId",
          "requestId"
        ]
      },
      "PlaidTransferAccountFields": {
        "type": "object",
        "description": "The id and token for a Plaid account used in a transfer",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "The Plaid access_token for the account that will be debited or credited.",
            "minLength": 1
          },
          "accountId": {
            "type": "string",
            "description": "The Plaid account_id corresponding to the end-user account that will be debited or credited.",
            "minLength": 1
          }
        },
        "required": [
          "accessToken",
          "accountId"
        ]
      },
      "RiskAnalysisRequest": {
        "type": "object",
        "properties": {
          "achClass": {
            "type": "string",
            "description": "The ACH class of the transaction (CCD, PPD, TEL, WEB)",
            "enum": [
              "CCD",
              "PPD",
              "TEL",
              "WEB"
            ]
          },
          "amount": {
            "type": "number",
            "description": "Amount intended to be sent by this transaction",
            "example": 10.5
          },
          "currencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code, in lowercase. Must be a supported currency",
            "example": "USD",
            "minLength": 1
          },
          "name": {
            "description": "Customer name",
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerName"
              }
            ]
          },
          "plaidTransferAccountFields": {
            "description": "The id and token for a Plaid account used in a transfer",
            "allOf": [
              {
                "$ref": "#/components/schemas/PlaidTransferAccountFields"
              }
            ]
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for this transaction.",
            "enum": [
              "ACROSS",
              "ALCHEMYPAY",
              "APPLEPAY",
              "BANXA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BRALE",
              "BTCDIRECT",
              "COINBASEPAY",
              "DLOCAL",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FLASHNET",
              "FONBNK",
              "GUARDARIAN",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MX",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMPNOW",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "TZERO",
              "UNLIMIT",
              "UPHOLD",
              "YELLOWCARD"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of the transaction, either CHARGE or PAYOUT",
            "enum": [
              "CHARGE",
              "REFUND",
              "CRYPTO_PURCHASE",
              "CRYPTO_PURCHASE_SWAP",
              "CRYPTO_SELL",
              "CRYPTO_SELL_SWAP",
              "CRYPTO_TRANSFER",
              "PAYOUT"
            ]
          }
        },
        "required": [
          "achClass",
          "amount",
          "currencyCode"
        ]
      },
      "DecisionRationale": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Risk": {
        "type": "object",
        "properties": {
          "bankInitiatedReturnScore": {
            "type": "integer",
            "format": "int32"
          },
          "customerInitiatedReturnScore": {
            "type": "integer",
            "format": "int32"
          },
          "riskLevel": {
            "type": "string"
          }
        }
      },
      "RiskAnalysisResponse": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string"
          },
          "decisionRationale": {
            "$ref": "#/components/schemas/DecisionRationale"
          },
          "risk": {
            "$ref": "#/components/schemas/Risk"
          },
          "serviceProvider": {
            "type": "string",
            "enum": [
              "ACROSS",
              "ALCHEMYPAY",
              "APPLEPAY",
              "BANXA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BRALE",
              "BTCDIRECT",
              "COINBASEPAY",
              "DLOCAL",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FLASHNET",
              "FONBNK",
              "GUARDARIAN",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MX",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMPNOW",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "TZERO",
              "UNLIMIT",
              "UPHOLD",
              "YELLOWCARD"
            ]
          },
          "serviceProviderTransferAuthorizationId": {
            "type": "string"
          }
        }
      },
      "SimulateVaDepositRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "minLength": 1
          },
          "customerId": {
            "type": "string",
            "minLength": 1
          },
          "destinationCurrencyCode": {
            "type": "string",
            "minLength": 1
          },
          "destinationWalletAddress": {
            "type": "string",
            "minLength": 1
          },
          "network": {
            "type": "string",
            "description": "Uphold instant-settling rail override (wire/fednow/rtp); null keeps the provisioned rail. UPHOLD-only: ignored for DUENETWORK and NOAH, whose rails come from the standing instruction.",
            "example": "fednow"
          },
          "paymentMethodType": {
            "type": "string",
            "minLength": 1
          },
          "serviceProvider": {
            "type": "string",
            "enum": [
              "ACROSS",
              "ALCHEMYPAY",
              "APPLEPAY",
              "BANXA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BRALE",
              "BTCDIRECT",
              "COINBASEPAY",
              "DLOCAL",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FLASHNET",
              "FONBNK",
              "GUARDARIAN",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MX",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMPNOW",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "TZERO",
              "UNLIMIT",
              "UPHOLD",
              "YELLOWCARD"
            ]
          },
          "sourceCurrencyCode": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "amount",
          "customerId",
          "destinationCurrencyCode",
          "destinationWalletAddress",
          "paymentMethodType",
          "serviceProvider",
          "sourceCurrencyCode"
        ]
      },
      "SimulateRequest": {
        "type": "object",
        "properties": {
          "externalOrderId": {
            "type": "string",
            "description": "externalOrderId used when creating the headless onramp order",
            "example": "order-ref-001",
            "minLength": 1
          },
          "network": {
            "type": "string",
            "description": "Uphold-only instant-settling rail override (e.g. wire, fednow); ignored for other providers",
            "example": "wire"
          }
        },
        "required": [
          "externalOrderId"
        ]
      },
      "ExternalRefundRequest": {
        "type": "object",
        "properties": {
          "serviceProvider": {
            "type": "string",
            "description": "The service provider that processed the original transaction",
            "enum": [
              "ALCHEMYPAY",
              "BANXA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BTCDIRECT",
              "COINBASEPAY",
              "FONBNK",
              "GUARDARIAN",
              "KRYPTONIM",
              "KOYWE",
              "MERCURYO",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "REVOLUT",
              "ROBINHOOD",
              "STRIPE",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "UNLIMIT",
              "YELLOWCARD"
            ]
          },
          "serviceTransactionId": {
            "type": "string",
            "description": "The service provider's unique identifier for the original transaction",
            "minLength": 1
          },
          "sourceAmount": {
            "type": "number",
            "description": "Amount to be refunded. Can be a partial refund",
            "minimum": 0.0
          }
        },
        "required": [
          "serviceProvider",
          "serviceTransactionId",
          "sourceAmount"
        ]
      },
      "ExternalImportRequest": {
        "type": "object",
        "properties": {
          "serviceProvider": {
            "type": "string",
            "description": "The service provider from where the transaction will be imported",
            "enum": [
              "ALCHEMYPAY",
              "BANXA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BTCDIRECT",
              "COINBASEPAY",
              "FONBNK",
              "GUARDARIAN",
              "KRYPTONIM",
              "KOYWE",
              "MERCURYO",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "REVOLUT",
              "ROBINHOOD",
              "STRIPE",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "UNLIMIT",
              "YELLOWCARD"
            ]
          },
          "serviceTransactionId": {
            "type": "string",
            "description": "The id of the transaction to be imported",
            "minLength": 1
          }
        },
        "required": [
          "serviceProvider",
          "serviceTransactionId"
        ]
      },
      "CryptoPurchaseDetails": {
        "type": "object",
        "properties": {
          "blockchainTransactionId": {
            "type": "string",
            "description": "The transaction id on the blockchain"
          },
          "destinationAmount": {
            "type": "number",
            "description": "The amount of the destination currency your customer received in their wallet"
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "The destination currency symbol your customer received in their wallet(e.g., BTC, ETH)"
          },
          "institution": {
            "type": "string",
            "description": "The institution used to execute the transaction. Only applicable for transfers currently."
          },
          "networkFee": {
            "type": "number",
            "description": "This fee is paid to cryptocurrency miners, which are the systems that process the transactions"
          },
          "networkFeeInUsd": {
            "type": "number",
            "description": "This network fee in USD"
          },
          "partnerFee": {
            "type": "number",
            "description": "The partner fee amount"
          },
          "partnerFeeInUsd": {
            "type": "number",
            "description": "The partner fee in USD"
          },
          "totalFee": {
            "type": "number",
            "description": "The total amount of fees that will be charged"
          },
          "totalFeeInUsd": {
            "type": "number",
            "description": "The total fee in USD"
          },
          "transactionFee": {
            "type": "number",
            "description": "The fee amount charged by the service provider to process your customer's purchase"
          },
          "transactionFeeInUsd": {
            "type": "number",
            "description": "The transaction fee in USD"
          },
          "walletAddress": {
            "type": "string",
            "description": "Your customer's crypto wallet"
          }
        }
      },
      "PaymentMethodOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Your Account Id"
          },
          "id": {
            "type": "string",
            "description": "The Payment Method's Meld Id"
          },
          "serviceProvider": {
            "type": "string",
            "description": "The Service Provider on which this payment method is specified"
          },
          "token": {
            "type": "string",
            "description": "The ID the Service Provider uses for this Payment Method"
          }
        }
      },
      "PaymentTransactionOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Your account Id"
          },
          "authAmount": {
            "type": "number",
            "description": "The amount authorized to be charged (must be greater than the amount intended to be collected.) Note that the number of digits with a decimal point varies with the currency. Reference the list of active codes of official ISO 4217 currency names."
          },
          "captureAmount": {
            "type": "number",
            "description": "The amount captured (can be less than the amount intended to be collected.) Note that the number of digits with a decimal point varies with the currency. Reference the list of active codes of official ISO 4217 currency names."
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166 2-digit country code."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "An ISO 8601 DateTime at which the object was created."
          },
          "cryptoPurchaseDetails": {
            "description": "Details of the crypto currency purchase",
            "allOf": [
              {
                "$ref": "#/components/schemas/CryptoPurchaseDetails"
              }
            ]
          },
          "customer": {
            "description": "Your customer's details",
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerOutput"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "An arbitrary string which you can attach to this transaction. It is displayed when in the web interface alongside the charge."
          },
          "destinationAmount": {
            "type": "number",
            "description": "The destination amount of the transaction, e.g. the amount of crypto currency purchased"
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code. Must be a supported currency"
          },
          "destinationWalletAddress": {
            "type": "string",
            "description": "The wallet the crypto currency is being deposited in, if known"
          },
          "externalCustomerId": {
            "type": "string",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity."
          },
          "externalReferenceId": {
            "type": "string",
            "description": "Your optional reference id provided during transaction creation"
          },
          "externalSessionId": {
            "type": "string",
            "description": "The external Id of the session."
          },
          "externalSubaccountCustomerId": {
            "type": "string",
            "description": "Optional external identifier for the sub-account customer this transaction belongs to. Used for tracking when multiple businesses operate under one Meld account. A sub-account customer must be created first before it can be referenced."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for this transaction"
          },
          "isImported": {
            "type": "boolean",
            "description": "Return ***True*** if this transaction was initiated outside Meld"
          },
          "isPassthrough": {
            "type": "boolean",
            "description": "Return ***True*** if the passthrough credentials were used"
          },
          "key": {
            "type": "string",
            "description": "Pagination key, may be used with the \"after\" parameter in search requests.  Only set and relevant for paginated calls"
          },
          "multiFactorAuthorizationStatus": {
            "type": "array",
            "description": "The transaction required multi-factor authentication methods, and their current status. When required, must be approved for the purchase tobe completed successfully.",
            "items": {
              "$ref": "#/components/schemas/MultiFactorAuthorizationStatusOutput"
            },
            "uniqueItems": true
          },
          "parentPaymentTransactionId": {
            "type": "string",
            "description": "The Id of the associated object for this line item"
          },
          "passthroughReference": {
            "type": "string",
            "description": "The unique reference you use to identify the partner on whose behalf you created this transaction.  This might be a String or UUID in your system to identify a merchant or partner.  This is needed so that you can associate passthrough transactions to your partners who may not be registered with Meld"
          },
          "paymentMethod": {
            "description": "PaymentMethod objects represent your customer's payment instruments.",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodOutput"
              }
            ]
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Payment Method type used for this transaction."
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for this transaction"
          },
          "serviceProviderCreatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO 8601 DateTime when the transaction was created on the service provider's side"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "The service provider's details"
          },
          "serviceProviderTransactionUrl": {
            "type": "string",
            "description": "A link to the resource on the Service Provider, may not be present"
          },
          "serviceTransactionId": {
            "type": "string",
            "description": "The service provider's unique identifier for this transaction"
          },
          "sessionId": {
            "type": "string",
            "description": "The Id of the session."
          },
          "sourceAmount": {
            "type": "number",
            "description": "The amount of the transaction"
          },
          "sourceAmountInUsd": {
            "type": "number",
            "description": "The amount of the transaction in usd"
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code. Must be a supported currency"
          },
          "sourceWalletAddress": {
            "type": "string",
            "description": "The wallet the crypto currency is being withdrawn from, if known"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction"
          },
          "subaccountCustomerId": {
            "type": "string",
            "description": "Optional Meld customer id used to track the business sub-account this transaction belongs to when multiple businesses operate under one Meld account."
          },
          "transactionType": {
            "type": "string",
            "description": "The transaction's type"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the object was last updated. Measured in seconds since the Unix epoch."
          },
          "wallet": {
            "type": "string",
            "description": "The wallet used for a crypto currency transaction, if known"
          }
        }
      },
      "PaymentTransactionResponse": {
        "type": "object",
        "properties": {
          "transaction": {
            "description": "Payment transaction information",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentTransactionOutput"
              }
            ]
          }
        }
      },
      "TransactionMultiFactorAuthorizationRequest": {
        "type": "object",
        "properties": {
          "card2faCode": {
            "type": "string"
          },
          "emailCode": {
            "type": "string"
          },
          "smsCode": {
            "type": "string"
          },
          "transactionId": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "transactionId"
        ]
      },
      "UploadDocumentResponse": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          }
        }
      },
      "ApplePayLimitsResponse": {
        "type": "object",
        "description": "Native Apple Pay guest-checkout limits for the session's customer",
        "properties": {
          "status": {
            "type": "string",
            "description": "Lifetime-transaction cap status. PROCEED: orders are allowed. LIFETIME_UPGRADE_AVAILABLE: the cap is reached and the customer can lift it by verifying their identity \u2014 route them to KYC. LIFETIME_UPGRADE_PENDING: identity already submitted and under review; wait, do not resubmit. LIFETIME_CAPPED_NO_UPGRADE: capped with no upgrade on offer; do not prompt again. UNKNOWN: the limits read did not answer, so orders proceed and Coinbase remains the enforcer.",
            "enum": [
              "PROCEED",
              "LIFETIME_UPGRADE_AVAILABLE",
              "LIFETIME_UPGRADE_PENDING",
              "LIFETIME_CAPPED_NO_UPGRADE",
              "UNKNOWN"
            ]
          },
          "weeklySpending": {
            "description": "Rolling seven-day spending cap. Informational \u2014 no upgrade raises it.",
            "allOf": [
              {
                "$ref": "#/components/schemas/WeeklySpending"
              }
            ]
          }
        }
      },
      "WeeklySpending": {
        "type": "object",
        "description": "Rolling seven-day spending cap",
        "properties": {
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency of the cap",
            "example": "USD"
          },
          "limit": {
            "type": "string",
            "description": "The cap",
            "example": "500"
          },
          "remaining": {
            "type": "string",
            "description": "How much of the cap is left",
            "example": "400"
          }
        }
      },
      "KycInfo": {
        "type": "object",
        "description": "KYC verification information for token passthrough",
        "properties": {
          "kycProvider": {
            "type": "string",
            "description": "The KYC provider that issued the token",
            "enum": [
              "SUMSUB"
            ],
            "example": "SUMSUB"
          },
          "kycShareToken": {
            "type": "string",
            "description": "The shareable KYC token from the KYC provider (e.g., Sumsub share token). This token can be used to transfer verified KYC status to downstream providers. Required when kycProvider is specified.",
            "example": "_act-sbx-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
          }
        }
      },
      "SessionDataInput": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Two-letter country code (ISO 3166-1 alpha-2)"
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "The cryptocurrency the user is buying (e.g. BTC, ETH) or the fiat currency the user is selling crypto for (e.g. USD, EUR).",
            "minLength": 1
          },
          "kycInfo": {
            "description": "Optional KYC information for token passthrough. When provided with a valid KYC token from a supported provider, the verification can be transferred to downstream providers that support it.",
            "allOf": [
              {
                "$ref": "#/components/schemas/KycInfo"
              }
            ]
          },
          "lockFields": {
            "type": "array",
            "description": "Where supported by the Service Provider, Meld can help you lock the cryptocurrency and/or wallet address fields within the widget. Enable this by passing in the \"destinationCurrencyCode\" and/or \"walletAddress\" as strings in this field. See [this page](https://docs.meld.io/docs/white-label-cutomization#locking-fields) for more details.",
            "items": {
              "type": "string",
              "enum": [
                "cryptoCurrency",
                "destinationCurrencyCode",
                "sourceCurrencyCode",
                "walletAddress",
                "sourceAmount",
                "paymentMethodType"
              ]
            }
          },
          "paymentMethodType": {
            "type": "string",
[...]
