{
  "openapi": "3.1.0",
  "info": {
    "title": "WEBHOOKS",
    "termsOfService": "urn:tos",
    "license": {
      "name": "Apache 2.0",
      "url": "https://springdoc.org"
    },
    "version": "2023-12-19",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api-sb.meld.io",
      "description": "Meld API sandbox"
    },
    {
      "url": "https://api.meld.io",
      "description": "Meld API production"
    }
  ],
  "paths": {
    "/notifications/webhooks": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "Create a new webhook profile",
        "operationId": "webhooks-profiles-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookProfileCreateRequest"
              },
              "example": {
                "name": "<string>",
                "url": "<string>"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Webhook profile created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookProfile"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access\n\nCheck the account's permissions for this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`FORBIDDEN`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "FORBIDDEN",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials\n\nCheck the API credentials being sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNAUTHORIZED`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format\n\nThe webhook profile could not be tested as configured. Check the destination URL and that the profile is complete.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`BAD_REQUEST`"
                    },
                    "errors": {
                      "type": "array",
                      "description": "Any of:\n\n- `[name] must not be blank`\n- `[url] must not be blank`\n- `[Meld-Version] is invalid`",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Bad request"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "message": "Bad request",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00",
                  "errors": [
                    "[name] must not be blank"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.\n\nAn internal Meld error. Contact Meld support with the requestId; a retry may not clear it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNEXPECTED_ERROR`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Unexpected error"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNEXPECTED_ERROR",
                  "message": "Unexpected error",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/webhooks/2023-12-19/profile/webhooks-profiles-create"
        },
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-12-19"
            }
          }
        ]
      },
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Search webhook profiles",
        "description": "Returns a list of webhook profiles that match the query parameters. The webhook profiles are sorted by name.",
        "operationId": "webhooks-profiles-search",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-12-19"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Unique key corresponding to a webhook profile's position in the paginated list of results -- used to indicate that only profiles residing before this key will be retrieved.\n\nEach webhook profile carries a unique key. Reference [Pagination](https://docs.meld.io/docs/pagination)\n\nThe ***before*** and ***after*** fields cannot be used in the same request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Unique key corresponding to a webhook profile's position in the paginated list of results -- used to indicate that only profiles residing after this key will be retrieved.\n\nEach webhook profile carries a unique key. Reference [Pagination](https://docs.meld.io/docs/pagination)\n\nThe ***before*** and ***after*** fields cannot be used in the same request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of webhook profiles that should be returned.\n\n*Default value*: 10\n\n*Minimum value*: 1\n\n*Maximum value*: 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching webhook profiles are returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookProfilePage"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access\n\nCheck the account's permissions for this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`FORBIDDEN`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "FORBIDDEN",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials\n\nCheck the API credentials being sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNAUTHORIZED`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format\n\nRead errors[] and message for the field that failed, then correct it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`BAD_REQUEST`"
                    },
                    "errors": {
                      "type": "array",
                      "description": "Any of:\n\n- `[Meld-Version] is invalid`\n- `[before] is invalid`\n- `[after] is invalid`\n- `[limit] value is not a number`",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Bad request"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "message": "Bad request",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00",
                  "errors": [
                    "[Meld-Version] is invalid"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.\n\nAn internal Meld error. Contact Meld support with the requestId; a retry may not clear it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNEXPECTED_ERROR`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Unexpected error"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNEXPECTED_ERROR",
                  "message": "Unexpected error",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/webhooks/2023-12-19/profile/webhooks-profiles-search"
        }
      }
    },
    "/notifications/webhooks/event-types": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get all webhook event types that can be sent",
        "operationId": "webhooks-events-get",
        "responses": {
          "200": {
            "description": "Available event types.\n\nReference [Webhook events](https://docs.meld.io/docs/webhook-events)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access\n\nCheck the account's permissions for this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`FORBIDDEN`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "FORBIDDEN",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials\n\nCheck the API credentials being sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNAUTHORIZED`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format\n\nRead errors[] and message for the field that failed, then correct it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`BAD_REQUEST`"
                    },
                    "errors": {
                      "type": "array",
                      "description": "`[Meld-Version] is invalid`",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Bad request"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "message": "Bad request",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00",
                  "errors": [
                    "[Meld-Version] is invalid"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.\n\nAn internal Meld error. Contact Meld support with the requestId; a retry may not clear it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNEXPECTED_ERROR`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Unexpected error"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNEXPECTED_ERROR",
                  "message": "Unexpected error",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/webhooks/2023-12-19/profile/webhooks-events-get"
        },
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-12-19"
            }
          }
        ]
      }
    },
    "/notifications/webhooks/{webhookProfileId}": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get an existing webhook profile",
        "operationId": "webhooks-profiles-get",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-12-19"
            }
          },
          {
            "name": "webhookProfileId",
            "in": "path",
            "description": "Unique identifier for the webhook profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook profile is returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookProfile"
                }
              }
            }
          },
          "404": {
            "description": "Webhook profile cannot be found\n\nVerify the identifier in the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`NOT_FOUND`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Resource not found"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "NOT_FOUND",
                  "message": "Resource not found",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access\n\nCheck the account's permissions for this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`FORBIDDEN`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "FORBIDDEN",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials\n\nCheck the API credentials being sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNAUTHORIZED`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format\n\nRead errors[] and message for the field that failed, then correct it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`BAD_REQUEST`"
                    },
                    "errors": {
                      "type": "array",
                      "description": "Any of:\n\n- `[Meld-Version] is invalid`\n- `Required parameter [webhookProfileId] is missing`",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Bad request"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "message": "Bad request",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00",
                  "errors": [
                    "[Meld-Version] is invalid"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.\n\nAn internal Meld error. Contact Meld support with the requestId; a retry may not clear it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNEXPECTED_ERROR`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Unexpected error"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNEXPECTED_ERROR",
                  "message": "Unexpected error",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/webhooks/2023-12-19/profile/webhooks-profiles-get"
        }
      },
      "patch": {
        "tags": [
          "Profile"
        ],
        "summary": "Update an existing webhook profile",
        "operationId": "webhooks-profiles-update",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-12-19"
            }
          },
          {
            "name": "webhookProfileId",
            "in": "path",
            "description": "Unique identifier for the webhook profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookProfileUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook profile has been updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookProfile"
                }
              }
            }
          },
          "404": {
            "description": "Webhook profile cannot be found\n\nVerify the identifier in the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`NOT_FOUND`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Resource not found"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "NOT_FOUND",
                  "message": "Resource not found",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access\n\nCheck the account's permissions for this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`FORBIDDEN`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "FORBIDDEN",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials\n\nCheck the API credentials being sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNAUTHORIZED`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format\n\nThe webhook profile could not be tested as configured. Check the destination URL and that the profile is complete.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`BAD_REQUEST`"
                    },
                    "errors": {
                      "type": "array",
                      "description": "Any of:\n\n- `[Meld-Version] is invalid`\n- `Required parameter [webhookProfileId] is missing`",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Bad request"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "message": "Bad request",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00",
                  "errors": [
                    "[Meld-Version] is invalid"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.\n\nAn internal Meld error. Contact Meld support with the requestId; a retry may not clear it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNEXPECTED_ERROR`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Unexpected error"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNEXPECTED_ERROR",
                  "message": "Unexpected error",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/webhooks/2023-12-19/profile/webhooks-profiles-update"
        }
      }
    },
    "/notifications/webhooks/{webhookProfileId}/test": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "Test an existing webhook profile",
        "description": "Sends a WEBHOOK_TEST event to the URL in the profile",
        "operationId": "webhooks-profiles-test",
        "parameters": [
          {
            "name": "Meld-Version",
            "in": "header",
            "description": "Dated API version to use for this request, e.g. `2026-02-03`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-12-19"
            }
          },
          {
            "name": "webhookProfileId",
            "in": "path",
            "description": "Unique identifier for the webhook profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test message sent",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookProfileTestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Webhook profile cannot be found\n\nVerify the identifier in the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`NOT_FOUND`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Resource not found"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "NOT_FOUND",
                  "message": "Resource not found",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access\n\nCheck the account's permissions for this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`FORBIDDEN`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "FORBIDDEN",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials\n\nCheck the API credentials being sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNAUTHORIZED`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Access denied"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "message": "Access denied",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format\n\nRead errors[] and message for the field that failed, then correct it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`BAD_REQUEST`"
                    },
                    "errors": {
                      "type": "array",
                      "description": "Any of:\n\n- `[Meld-Version] is invalid`\n- `Required parameter [webhookProfileId] is missing`",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Bad request"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "message": "Bad request",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00",
                  "errors": [
                    "[Meld-Version] is invalid"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same.\n\nAn internal Meld error. Contact Meld support with the requestId; a retry may not clear it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "`UNEXPECTED_ERROR`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Unexpected error"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Quote this when asking Meld about a specific failure."
                    },
                    "serviceProviderDetails": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The provider's own error code, when it sent one."
                        },
                        "message": {
                          "type": "string",
                          "description": "The provider's own message."
                        }
                      },
                      "additionalProperties": {},
                      "example": {
                        "code": "5034",
                        "message": "Digital currency and blockchain combination is restricted for customer's country"
                      },
                      "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-14T09:41:22.482+00:00",
                      "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`)."
                    }
                  }
                },
                "example": {
                  "code": "UNEXPECTED_ERROR",
                  "message": "Unexpected error",
                  "requestId": "01JB2K7C9XQZ4M8N2P5R6T3V",
                  "timestamp": "2026-08-14T09:41:22.482+00:00"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/webhooks/2023-12-19/profile/webhooks-profiles-test"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "YodleeEvent": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "info": {
            "type": "string"
          },
          "loginName": {
            "type": "string"
          },
          "notificationId": {
            "type": "string"
          },
          "notificationTime": {
            "type": "string"
          }
        }
      },
      "YodleeWebhookPayload": {
        "type": "object",
        "properties": {
          "event": {
            "$ref": "#/components/schemas/YodleeEvent"
          }
        }
      },
      "TransakWebhookRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string"
          }
        }
      },
      "TestWebhookInRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "minLength": 1
          },
          "id": {
            "type": "string",
            "minLength": 1
          },
          "note": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "accountId",
          "id",
          "type"
        ]
      },
      "RevolutWebhookPayload": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "wallet": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "causes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "display_message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          },
          "error_code": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          },
          "error_type": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          },
          "status": {
            "type": "number"
          },
          "suggested_action": {
            "type": "string"
          }
        }
      },
      "PlaidWebhookPayload": {
        "type": "object",
        "properties": {
          "canceled_investments_transactions": {
            "type": "number"
          },
          "consent_expiration_time": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/Error"
          },
          "historical_update_complete": {
            "type": "boolean"
          },
          "initial_update_complete": {
            "type": "boolean"
          },
          "item_id": {
            "type": "string",
            "minLength": 1
          },
          "new_holdings": {
            "type": "number"
          },
          "new_investments_transactions": {
            "type": "number"
          },
          "new_transactions": {
            "type": "number"
          },
          "new_webhook_url": {
            "type": "string"
          },
          "removed_transactions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "updated_holdings": {
            "type": "number"
          },
          "webhook_code": {
            "type": "string",
            "minLength": 1
          },
          "webhook_type": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "item_id",
          "webhook_code",
          "webhook_type"
        ]
      },
      "MoovWebhookPayload": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/WebhookData"
          },
          "eventID": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "WebhookData": {
        "type": "object",
        "properties": {
          "accountID": {
            "type": "string"
          },
          "bankAccountID": {
            "type": "string"
          },
          "capability": {
            "type": "string"
          },
          "cardID": {
            "type": "string"
          },
          "disputeID": {
            "type": "string"
          },
          "paymentMethodID": {
            "type": "string"
          },
          "refundID": {
            "type": "string"
          },
          "representativeID": {
            "type": "string"
          },
          "sourceID": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "transferID": {
            "type": "string"
          },
          "updateType": {
            "type": "string"
          },
          "walletID": {
            "type": "string"
          }
        }
      },
      "CoinFlowWebhookPayload": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "created": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WebhookData"
          },
          "eventType": {
            "type": "string"
          }
        }
      },
      "BraintreeForm": {
        "type": "object",
        "properties": {
          "payload": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          }
        }
      },
      "AeropayWebhookPayload": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/WebhookData"
          },
          "date": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          }
        }
      },
      "WebhookProfileCreateRequest": {
        "type": "object",
        "properties": {
          "eventTypes": {
            "type": "array",
            "description": "Event types that will be sent to the URL. If empty, then all events will be sent to the URL.\n\nReference [Webhook events](https://docs.meld.io/docs/webhook-events)",
            "items": {
              "type": "string",
              "enum": [
                "TRANSACTION_CRYPTO_PENDING",
                "TRANSACTION_CRYPTO_FAILED",
                "TRANSACTION_CRYPTO_TRANSFERRING",
                "TRANSACTION_CRYPTO_COMPLETE",
                "TRANSACTION_FIAT_CREATED",
                "TRANSACTION_FIAT_UPDATED",
                "BANK_LINKING_CONNECTION_COMPLETED",
                "BANK_LINKING_CONNECTION_DELETED",
                "BANK_LINKING_CONNECTION_STATUS_CHANGE",
                "BANK_LINKING_ACCOUNTS_ADDED",
                "BANK_LINKING_ACCOUNTS_UPDATING",
                "BANK_LINKING_ACCOUNTS_UPDATED",
                "BANK_LINKING_ACCOUNTS_REMOVED",
                "BANK_LINKING_TRANSACTIONS_AGGREGATED",
                "BANK_LINKING_HISTORICAL_TRANSACTIONS_AGGREGATED",
                "BANK_LINKING_NEW_ACCOUNTS_AVAILABLE",
                "CUSTOMER_KYC_STATUS_CHANGE",
                "TEST",
                "WEBHOOK_TEST"
              ]
            }
          },
          "eventVersion": {
            "type": "string",
            "description": "Version of webhooks sent to the URL. If not specified, the current date will be used.\n\nReference [Webhook version](https://docs.meld.io/docs/versioning)"
          },
          "name": {
            "type": "string",
            "description": "Display name",
            "minLength": 1
          },
          "url": {
            "type": "string",
            "description": "URL where webhooks will be sent",
            "minLength": 1
          }
        },
        "required": [
          "name",
          "url"
        ]
      },
      "WebhookProfile": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account Id"
          },
          "eventTypes": {
            "type": "array",
            "description": "Event types that will be sent to the URL. If empty, then all events will be sent to the URL.\n\nReference [Webhook events](https://docs.meld.io/docs/webhook-events)",
            "items": {
              "type": "string"
            }
          },
          "eventVersion": {
            "type": "string",
            "description": "Version of webhooks sent to the URL.\n\nReference [Webhook version](https://docs.meld.io/docs/versioning)"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "key": {
            "type": "string",
            "description": "Unique key corresponding to a webhook profile's position in a paginated list of results. Only present if this webhook profile is in a paginated response.\n\nReference [Pagination](https://docs.meld.io/docs/pagination)"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "secret": {
            "type": "string",
            "description": "Secret used to validate authenticity of a webhook.\n\nReference [Webhook authentication](https://docs.meld.io/docs/webhook-authentication)"
          },
          "status": {
            "type": "string",
            "description": "Current status",
            "enum": [
              "ACTIVE",
              "DISABLED"
            ]
          },
          "url": {
            "type": "string",
            "description": "URL where webhooks will be sent"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable identifier for the failure."
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "What was rejected, one entry per field or rule."
          },
          "message": {
            "type": "string",
            "description": "A description of what went wrong."
          },
          "requestId": {
            "type": "string",
            "description": "Quote this when asking Meld about a specific failure."
          },
          "serviceProviderDetails": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "The provider's own error code, when it sent one."
              },
              "message": {
                "type": "string",
                "description": "The provider's own message."
              }
            },
            "example": {
              "code": "5034",
              "message": "Digital currency and blockchain combination is restricted for customer's country"
            },
            "description": "The provider's own error detail, when the failure came from a service provider. Usually `code` and `message`; a few providers pass their own body through, so other keys can appear.",
            "additionalProperties": {}
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the failure occurred. ISO 8601, UTC (`YYYY-MM-DDThh:mm:ss.sss+00:00`).",
            "example": "2026-08-14T09:41:22.482+00:00"
          }
        }
      },
      "WebhookProfileTestResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier of this request"
          }
        }
      },
      "ContactUsRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "minLength": 1
          },
          "employer": {
            "type": "string",
            "minLength": 1
          },
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "employer",
          "firstName"
        ]
      },
      "ContactUsResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          }
        }
      },
      "WebhookProfileUpdateRequest": {
        "type": "object",
        "properties": {
          "eventTypes": {
            "type": "array",
            "description": "Event types that will be sent to the URL. If empty, then all events will be sent to the URL.\n\nReference [Webhook events](https://docs.meld.io/docs/webhook-events)",
            "items": {
              "type": "string",
              "enum": [
                "TRANSACTION_CRYPTO_PENDING",
                "TRANSACTION_CRYPTO_FAILED",
                "TRANSACTION_CRYPTO_TRANSFERRING",
                "TRANSACTION_CRYPTO_COMPLETE",
                "TRANSACTION_FIAT_CREATED",
                "TRANSACTION_FIAT_UPDATED",
                "BANK_LINKING_CONNECTION_COMPLETED",
                "BANK_LINKING_CONNECTION_DELETED",
                "BANK_LINKING_CONNECTION_STATUS_CHANGE",
                "BANK_LINKING_ACCOUNTS_ADDED",
                "BANK_LINKING_ACCOUNTS_UPDATING",
                "BANK_LINKING_ACCOUNTS_UPDATED",
                "BANK_LINKING_ACCOUNTS_REMOVED",
                "BANK_LINKING_TRANSACTIONS_AGGREGATED",
                "BANK_LINKING_HISTORICAL_TRANSACTIONS_AGGREGATED",
                "BANK_LINKING_NEW_ACCOUNTS_AVAILABLE",
                "CUSTOMER_KYC_STATUS_CHANGE",
                "TEST",
                "WEBHOOK_TEST"
              ]
            }
          },
          "eventVersion": {
            "type": "string",
            "description": "Version of webhooks sent to the URL.\n\nReference [Webhook version](https://docs.meld.io/docs/versioning)"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "status": {
            "type": "string",
            "description": "Status",
            "enum": [
              "ACTIVE",
              "DISABLED"
            ]
          },
          "url": {
            "type": "string",
            "description": "URL where webhooks will be sent"
          }
        }
      },
      "WebhookProfilePage": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "Number of webhook profiles returned"
          },
          "remaining": {
            "type": "integer",
            "format": "int32",
            "description": "The number of remaining webhook profiles before/after this page, depending the direction this page was selected"
          },
          "webhookProfiles": {
            "type": "array",
            "description": "List of webhook profiles",
            "items": {
              "$ref": "#/components/schemas/WebhookProfile"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-default": "BASIC <Meld API Key>"
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": [
    {
      "name": "Settings"
    }
  ],
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": false,
    "samples-enabled": true,
    "headers": [
      {
        "key": "Meld-Version",
        "value": "2023-12-19"
      }
    ]
  }
}
